@use './variables' as *;
.about{
    margin-top: 100px;
}
.about .row p{
    margin-top: 22px;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
    color : $DarkGray;
}
@media (max-width:991px) {
    .about .row{
        text-align: center;
    }
    .about .row h1{
        font-size: 50px;
    }
}